body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.mario {
    width: 69.5px; 
    height: 80px;
    background-image: url('Mario.png');
    animation: marioAnimation 1s steps(1) infinite;
    background-position-y: 0px;
    /*animation: marioAnimation steps(2) linear infinite; */
}

.mario2 {
    width: 69.5px; 
    height: 80px;
    background-image: url('Mario.png');
    animation: marioDreta 1s steps(1) infinite;

    /*animation: marioAnimation steps(2) linear infinite; */
}
.mario3 {
    width: 69.5px; 
    height: 80px;
    background-image: url('Mario.png');
    animation: mario3 1s steps(1) infinite;
    /*animation: marioAnimation steps(2) linear infinite; */
}
.mario4 {
    width: 69.5px; 
    height: 80px;
    background-image: url('Mario.png');
    animation: mario4 1s steps(1) infinite;

    /*animation: marioAnimation steps(2) linear infinite; */
}
/*Cada imatge ocupa 69.58 de ample y
    de ALTURA 79.87 PIXELS
*/

/*
@keyframes marioAnimation {
    0% { background-position: 0 0; }
    33% { background-position: -69.5px 0; }
    66% { background-position: -139px 0; }
    100% { background-position: -69.5px 0; } 
}*/

@keyframes marioAnimation {
    0% { background-position-x: 0; }
    32.9% { background-position-x: 0; }
    33% { background-position-x: -69.5px; }
    65.9% { background-position-x: -69.5px; }
    66% { background-position-x: -139px; }
    99.9% { background-position-x: -139px.5px; } 
    100% { background-position-x: -139px; } 
}



@keyframes marioDreta {
    0% { background-position-x: -208.5px; }
    32.9% { background-position-x: -208.5px; }
    33% { background-position-x: -278px; }
    65.9% { background-position-x: -278px; }
    66% { background-position-x: -347.5px; }
    99.9% { background-position-x: -139px.5px; } 
    100% { background-position-x: 139px; } 
}
@keyframes mario3 {
    0% { background-position-x: 0; }
    32.9% { background-position-x: 0; }
    33% { background-position-x: -69.5px; }
    65.9% { background-position-x: -69.5px; }
    66% { background-position-x: -139px; }
    99.9% { background-position-x: -139px.5px; } 
    100% { background-position-x: 139px; } 
}
@keyframes mario4 {
    0% { background-position-x: 0; }
    32.9% { background-position-x: 0; }
    33% { background-position-x: -69.5px; }
    65.9% { background-position-x: -69.5px; }
    66% { background-position-x: -139px; }
    99.9% { background-position-x: -139px.5px; } 
    100% { background-position-x: 139px; } 
}
