body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.mario {
    width: 69.5px; /* Ajusta el tamaño según sea necesario */
    height: 80px; /* Ajusta el tamaño según sea necesario */
    background-image: url('Mario.png');
    animation: marioAnimation 4s steps(4) infinite;
}

/*Cada imatge ocupa 69.58 de ample y
    de ALTURA 79.87 PIXELS
*/
@keyframes marioAnimation {
    0% { background-position: 0 0; }
    33% { background-position: -69.5px 0; } /* Cambia estos valores según las dimensiones de tu imagen */
    66% { background-position: -139px 0; }
    100% { background-position: -69.5px 0; } /* Cambia estos valores según las dimensiones de tu imagen */
}